/* ========== google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ========== google fonts end=========== */

/* ========== css reset ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ========== css reset end ============== */

/* ========== css variables =========== */
:root {
  --bg-primary: #fdf8fe;
  --bg-light: white;
  --bg-gradient: radial-gradient(at center top, #fbe6ff, #b9c2f3);
  --bg--dark: black;
  --font-size: 10px;
  --text-primary: #000000;
  --text-scondry: #5278ff;
  --text-light: #5a6379;
  --text-theme: #f7f5f5;
  --font-family: "Poppins", sans-serif;
}
/* ========== css variables end =========== */

/* ============== default settings =============*/
.head {
  font-weight: bold;
  font-size: 2rem;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.head span {
  color: var(--text-scondry);
}
.normal {
  font-weight: normal;
  font-size: 1.5rem;
}
.btn {
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.dark {
  color: var(--bg-light);
  background: var(--text-primary);
}
/* ============== default settings  end ==============*/

/* =============== html ========================= */
html {
  font-size: var(--font-size);
  overflow-x: hidden;
}
/* =============== html end ========================= */

/* =============== body ====================== */

body {
  height: 100%;
  width: 100vw;
  padding: 2rem;
  background: var(--bg-primary);
  font-family: var(--font-family);
  background: var(--bg-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
}
/* =============== body end ========================= */

/* ============== header ========== */
.header {
  height: 6rem;
  width: 80vw;
  background: var(--bg-light);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.header-center .nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--text-light);
  padding: 0.5rem 1rem;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-right .sun {
  color: yellow;
  font-size: 3rem;
}
.mobile-nav {
  display: none;
  font-size: 3rem;
}
.nav-active {
  background: var(--text-light);
  color: var(--bg-primary) !important;
  border-radius: 0.5rem;
}
/* ========== media screen =============  */
@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 950px) {
  .header-right {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 7px;
  }
  .header {
    width: 90vw;
  }
  .header-center {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
/* ============== header end ========== */
/* ============== main  ========== */
.main {
  height: 110vh;
  width: 80vw;
  padding: 1rem 0px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: start;
}
/* ============== main end ========== */

/* ============== profile card ========== */
.profile {
  width: 30%;
  height: 70%;
  background: var(--bg-light);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem;
}
.profile .profile-top {
  width: 100%;
  height: 40%;
}
.profile-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.profile .profile-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile-bottom button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.profile-bottom button:nth-of-type(1) {
  background: var(--text-scondry);
  color: white;
}
.social {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}
.social span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  border: 1px solid #ccc;
}
/* ============== profile card end========== */

/* ========= center content section =================== */

.center-wrapper {
  height: 70% !important;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.expert {
  background: var(--bg-light);
  padding: 1rem 2rem;
  height: 65%;
  border-radius: 1rem;
}
.exp-wrapper {
  display: flex;
  padding: 3rem 0;
  flex-wrap: wrap;
  gap: 3rem;
}
.exp-wrapper .exp {
  height: 7rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exp img {
  height: 93%;
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  background: var(--bg-gradient);
  object-fit: contain;
}
.exp p {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .main {
    height: 100%;
    flex-wrap: wrap !important;
  }
  .center-wrapper {
    width: 100%;
    height: auto;
  }
  #education {
    height: 20rem !important;
  }
  .projects {
    width: 100% !important;
  }
}
@media screen and (max-width: 720px) {
  .main {
    flex-wrap: wrap !important;
  }
  .center-wrapper {
    width: 100%;
    height: auto;
  }
  #education {
    height: 18rem !important;
    gap: 1rem;
  }
  .expert {
    height: 100% !important;
    gap: 1rem;
  }
  .exp-wrapper {
    height: 100% !important;
    padding: 1rem;
    gap: 3rem;
    justify-content: space-between !important;
  }
}
/* ========= center content section end =================== */
/* ============== education section ================ */
#education {
  padding: 0 1.5rem;
  background: var(--bg-light);
  border-radius: 1.5rem;
  height: 35%;
  overflow: hidden;
  padding-bottom: 3rem;
}
#education h2 {
  background: var(--bg-light);
  padding: 1.5rem;
  position: relative;
  z-index: 2;
}
.education-list {
  list-style-type: none;
  transition: all 0.5s;
  animation: role-scondry 3.5s linear infinite;
  animation: role-primary 3.5s linear infinite;
  z-index: 0;
  position: relative;
}
.education-list li {
  height: 5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.education-list li span {
  font-size: 1.3rem;
}
.education-list li > span:nth-of-type(1) {
  color: var(--text-scondry);
}
.education-list li > span:nth-of-type(2) {
  font-size: 0.7rem !important;
}
/* ============== list animation =============== */
@keyframes role-primary {
  from {
    top: 0%;
  }
  to {
    top: -70%;
  }
}
@keyframes role-scondry {
  from {
    top: 85%;
  }
  to {
    top: 0%;
  }
}

/* ============== list animation end =============== */
/*=================  media screen ============== */
@media screen and (max-width: 1200px) {
  .main {
    width: 80vw;
    padding: 1rem 0;
    flex-direction: column;
    gap: 2rem;
  }
  html::-webkit-scrollbar {
    display: block !important;
  }
  .profile {
    width: 100%;
    height: 60%;
    flex-direction: row;
    position: relative;
    z-index: 1 !important;
  }
  .profile-top {
    height: 100% !important;
    width: 40% !important;
  }
  .profile-top img {
    height: 100;
  }
  .profile-bottom {
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .main {
    width: 90vw !important;
    padding: 1rem 0;
    flex-direction: column !important;
    height: 100%;
  }
  .profile {
    flex-direction: column !important;
    height: 70%;
  }
  .profile-top {
    height: 50% !important;
    width: 100% !important;
  }
  .profile-bottom {
    height: 50%;
    width: 100%;
    gap: 1rem;
  }
  #education {
    height: 60%;
    width: 100%;
  }
}

/*=================  media screen end ============== */
/*=================  education scetion end ============== */
/*=================  project section ============== */
.projects {
  background: var(--bg-light);
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 31%;
  height: 70%;
}
.projects .project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-header a {
  color: var(--text-scondry);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--text-light);
}
.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.project {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  padding: 1rem;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.project span {
  background: var(--bg-light);
  color: var(--text-primary);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0rem 1rem var(--bg--dark);
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
@media screen and (max-width: 750px) {
  .projects {
    width: 100%;
    height: auto;
  }
  .services-container {
    flex-wrap: wrap;
    gap: 3rem !important;
  }
  .service {
    width: 45% !important;
    display: none;
  }
}
/*=================  project end  ============== */
/* =========== service section ================= */
.services {
  background: var(--bg-light);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.service {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  background: var(--text-theme);
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;
  width: auto;
}
.service .icon {
  font-size: 5rem;
  padding: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  background: var(--bg-light);
  color: var(--text-scondry);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =========== service section end ================= */
/* ========= mobile navigation bar ========== */

.mobile-nav-bar {
  height: 100vh;
  width: 35rem;
  background: var(--bg-light);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  z-index: 200;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.3s;
}
.mobile-nav-bar .mobile-nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mobile-nav-links li {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile-nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mobile-nav-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#mobile-theme {
  font-size: 3rem;
}

#close-btn {
  position: absolute;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  top: 1rem;
}
.is-open {
  transform: translateX(0%);
  transition: all 0.3s;
}
/* ========= mobile navigation bar end========== */
/* ========== main wrapper ========================== */
.main-wrapper {
  height: 100%;
  width: 80vw;
  overflow-x: hidden;
}
.main-wrapper .main-container {
  width: 100%;
  display: flex;
  transition: all 0.3s;
  gap: 30px;
}
.main-container .main {
  min-width: 100%;
}
@media screen and (max-width: 750px) {
  .main-wrapper {
    width: 90vw;
  }
}
/* ========== main wrapper end========================== */
/* ========== about sction ============================= */
.about {
  width: 68%;
  background: var(--bg-light);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
}
.about-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-head div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-head div:nth-of-type(1) button {
  color: var(--text-scondry);
}
.about-exps {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.about-exp {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background: var(--text-theme);
  border-radius: 1rem;
  align-items: center;
  gap: 1rem;
  width: 40%;
}
.about-exp h2 {
  color: var(--text-scondry);
}
.about .expert {
  width: 100%;
  background: unset;
}
@media screen and (max-width: 950px) {
  .about {
    min-width: 100% !important;
  }
  .main {
    width: 90vw;
  }
}
/* ========== about sction end ============================= */
/* ===================== skill section ======================= */

/* ===================== skill section end ======================= */
/* ===================== projects section ======================= */
.prg-main {
  width: 68%;
  height: auto;
  margin: 0rem auto;
}
.prg-main .projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prg-main p {
  padding: 2rem 0 0 0;
}
.prg-main .project {
  width: 45%;
  height: 30%;
}
.main-wrapper::-webkit-scrollbar {
  display: none;
}
/* ===================== projects section end ======================= */
/* ===================== contect section ======================= */
.contect {
  background: var(--bg-light);
  width: 68%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-primary) !important;
  padding: 1rem 2rem;
}

.contect-container {
  background: var(--text-theme);
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 1rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 1rem;
}
.input-group input {
  outline: none;
  padding: 1.5rem 2rem;
  background: var(--bg-primary);
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-family: var(--font-family);
}
input::placeholder{
  font-size: 1.2rem;
}
.contect-container button {
  background: var(--text-scondry);
  width: 100%;
  color: white;
}
.txt {
  width: 100%;
}
.input-group textarea {
  width: 100%;
  height: 8rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  outline: none;
}

/* ===================== contect section end ======================= */
/* ===================== skills section  ======================= */
.exp-con {
  width: 68% !important;
}
@media screen and (max-width: 950px) {
  .contect {
    width: 100%;
  }
  .exp-con{
    width: 100% !important;
  }
}
/* ===================== skills section end ======================= */
/* ====================== info section ================ */
.infos {
  display: flex;
  background: var(--text-theme);
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.infos-wrapper {
  display: flex;
  gap: 5rem;
}
.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg-light);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.info .info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}
.info-list li {
  width: 45%;
  padding: .5rem 1.5rem;
  background: var(--text-scondry);
  color: var(--text-theme);
  border-radius: .5rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.edu{
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.edu li{
  width: 100%;
  padding:1rem 3rem;
}
/* ====================== info section end ================ */
